body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calculator{
    background-color: rgb(88, 88, 88);
    padding: 20px;
    border: 2px solid black;
    border-radius: 15px;
    width: 380px;
    height: 510px;
    margin: 10px;
}
.screen{
    height: 100px;
    background-color: white;
    font-size: 2.6rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
    padding-top: 20px;
    border-radius: 10px;
    border: 2px solid black; 
}
.two-buttons{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.clear{
    background-color: rgb(30, 255, 199);
    width: 8rem;
    font-weight: bold;
    color: black;
    border-radius: 5px;
    border: 2px solid black;
    padding: 20px;
    text-align: center;
    font-size: 1.2rem;
    margin-right: auto;
    cursor: pointer;
    letter-spacing: 1px;
}
.delete{
    background-color: rgb(255, 173, 66);
    width: 8rem;
    font-weight: bold;
    color: black;
    border-radius: 5px;
    border: 2px solid black;
    padding: 20px;
    text-align: center;
    font-size: 1.2rem;
    cursor: pointer;
    letter-spacing: 1px;
}
.clear:hover{
    background-color: rgb(142, 253, 224);
}
.delete:hover{
    background-color: rgb(255, 197, 120);
}
.grid-buttons{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
    gap: 10px;
    margin-top: 20px;
}
.btn, .btnEquals, .btnDot, .btnTimes, .btnOver, .btnMinus, .btnPlus{
    background-color: white;
    padding: 15px;
    text-align: center;
    font-size: 1.3rem;
    border: 2px solid black;
    border-radius: 7px;
    font-weight: bold;
    cursor: pointer;
}
.btn:hover{
    background-color: rgb(223, 222, 222);
}
.author{
    text-align: end;
    margin-top: 5px;
    font-style: italic;
    font-family: "Moon Dance",sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 1px;
}


/* RESPONSIVENESS */

@media screen and (max-width: 420px){
    .calculator{
        width: 320px;
    }
    .clear,.delete{
        width: 7rem;
    }
}
@media screen and (max-width: 385px){
    .calculator{
        width: 310px;
    }
    .clear,.delete{
        width: 6.5rem;
    }
}
@media screen and (max-width: 365px){
    .calculator{
        width: 300px;
    }
    .clear,.delete{
        width: 6rem;
    }
}
@media screen and (max-width: 345px){
    .calculator{
        width: 270px;
    }
    .clear,.delete{
        width: 5.5rem;
    }
}
@media screen and (max-width: 330px){
    .calculator{
        width: 270px;
    }
    .clear,.delete{
        width: 5rem;
    }
}
@media screen and (max-width: 310px){
    .calculator{
        width: 270px;
    }
    .clear,.delete{
        width: 4.5rem;
    }
}